body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-width: 500px;
  margin: auto;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: all 0.2s;
}

html.dark {
  filter: invert(100%) hue-rotate(180deg);
  background-color: black;
}

* {
  box-sizing: border-box;
  font-size: 20px;
}

.start-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.start-page button {
  flex: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.set-players,
.set-spies,
.set-duration {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.set-players button,
.set-spies button,
.set-duration button {
  flex: 33%;
}

.assign-players .assigner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.assign-players .assigner button {
  min-width: 150px;
  min-height: 150px;
}

.timer-countdown {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.timer-countdown button {
  min-width: 150px;
  min-height: 150px;
}

.set-category {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.set-category button {
  flex: 1;
}
.set-category button p {
  font-size: 12px;
  opacity: 0.5;
  max-height: 90px;
  overflow: hidden;
  text-align: justify;
  direction: rtl;
}
