body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-size: 20px;
}

.start-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.start-page button {
  flex: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.set-players,
.set-spies,
.set-duration {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.set-players button,
.set-spies button,
.set-duration button {
  min-width: 100px;

  flex: 1;
}
